.count {
  padding: 5px 5px 3px 5px;
  margin-left: 1px;
  float: right;
  color: #999;
  font-family: 'Consolas', monospace;
}

.value {
  background: whitesmoke;
  border-radius: 5px;
  padding: 5px 6px 3px 6px;
  color: #333;
  display: inline-block;
  margin-right: 5px;
}
