@import "~font-awesome/css/font-awesome.css";
@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~codemirror/lib/codemirror.css";


body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: -apple-system, 'Proxima Nova', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.pt-control-indicator:focus {
  outline: none !important;
}

input:focus {
    outline: none !important;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 10px 0;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #eee;
}


label.pt-label .pt-input, label.pt-label .pt-select {
  width: 100%;
}

label {
  font-weight: normal
}

pre {
  box-shadow: none;
}
